<% @products.each do |product| %>
<div>
  <%= product.price %>
  <%= product.title %>
  <%= product.description %>
  <% if product.map_url %>
    <a href=<%= product.map_url %>>Google Map</a>
  <% end %>
</div>
<% end %>